<h1>
  <%= @topic.title %> 
  <% if policy(@topic).edit? %>
    <%= link_to "Edit", edit_topic_path, class: "btn btn-success" %>
    <%= link_to "Delete", @topic, method: :delete, class: "btn btn-danger", data:{confirm: "Are you sure to delete this topic?"} %>
  <% end %>
</h1>
<%= render @topic.bookmarks %>
<% if policy(Bookmark.new).create? %>
  <p class="text-center"> <%= link_to "Create new Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %> </p>
<% end %>